modules:
    combine:
        - Bluora\PhpElixirCombine\CombineModule
    copy:
        - Bluora\PhpElixirCopy\CopyModule
    empty:
        - Bluora\PhpElixirEmpty\EmptyModule
    exec:
        - Bluora\PhpElixirExec\ExecModule
    replace:
        - Bluora\PhpElixirReplace\ReplaceModule
    revision:
        - Bluora\PhpElixirRevision\RevisionModule
    sass:
        - Bluora\PhpElixirSass\SassModule

options:

paths:
    PATH_SASS: resources/assets/sass
    PATH_PUBLIC_ASSETS: public/assets
    PATH_PUBLIC_BUILD: public/build

empty:
    - PATH_PUBLIC_ASSETS
    - PATH_PUBLIC_BUILD

sass:
    PATH_SASS + /app.scss: PATH_PUBLIC_ASSETS + /vendor/app.css

revision:
    PATH_PUBLIC_ASSETS:
        - PATH_PUBLIC_BUILD
        - PATH_PUBLIC_BUILD + /rev-manifest.json
        - minify=true&php_manifest=true
